.catalog-filter {
  border-radius: 5px;
  margin-bottom: 12px;
  font-size: 16px;
  color: var(--gray-text-color);

  .catalog-filter-head {
    border-radius: 5px;
    background: #b6d5b9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 23px;
    cursor: pointer;

    svg {
      margin-top: 2px;
    }
  }

  &.open .catalog-filter-head {
    border-radius: 5px 5px 0 0;
  }

  &.open .catalog-filter-body {
    display: block
  }

  .catalog-filter-body {
    display: none;
    border: 1px solid #b6d5b9;
    border-radius: 0 0 5px 5px;
    padding: 12px 16px;

    & label {
      margin-right: 20px;
      margin-bottom: 20px;
      display: flex;
      align-items: baseline;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .catalog-filter-checkbox {
      display: flex;
      align-items: baseline;
      line-height: 130%;
      margin-right: 10px;

      input {
        margin-right: 10px;
      }
    }

    .catalog-filter-from-to {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}
