<div class="favorite">
  <div class="container">
    <div class="favorite-title">Избранное</div>

    @if (!products || (products && products.length === 0)) {
    <div class="favorite-empty">
      <div>В избранном нет товаров</div>
      <button class="button" routerLink="/catalog">В каталог</button>
    </div>
    }

    @if (products && products.length > 0) {
    <div class="favorite-products">
      @for (product of products; track product.id) {
        <div class="favorite-product">
          <div class="favorite-product-image" style="background-image: url({{serverStaticPath + product.image}})"></div>
          <div class="favorite-product-name">{{ product.name }}</div>
          <div class="favorite-product-price">{{ product.price }} BYN</div>
          <div class="favorite-product-action">

            @if (!isProductInCart(product.id)) {
            <button class="button" (click)="addToCart(product.id)">
              В корзину
            </button>
            }

            @if (isProductInCart(product.id)) {
              <div class="favorite-product-in-cart">
                <count-selector
                  [count]="getProductCountInCart(product.id)"
                  (onCountChange)="updateCartCount(product.id, $event)"
                  class="favorite-count-selector">
                </count-selector>
                <button class="button button-in-cart" disabled>
                  В корзине
                </button>
              </div>
            }

          </div>
          <div class="favorite-product-remove" (click)="removeFromFavoritItems(product.id)">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line x1="1.93562" y1="2.6499" x2="13.9564" y2="14.6707" stroke="#A8ABA7" stroke-linecap="round" />
              <line x1="13.9238" y1="2.62996" x2="1.90301" y2="14.6508" stroke="#A8ABA7" stroke-linecap="round" />
            </svg>
          </div>
        </div>
      }
    </div>
    }
  </div>
</div>
