@import "../../assets/styles/mixins";


html, body {
  margin: 0;
  padding: 0;
  font-family: 'Monserrat', sans-serif ;
  font-weight: 300;
}

.container {
  max-width: var(--container-width);
  margin-inline: auto;
}

.input {
  box-sizing: border-box;
  padding: 17px 20px;

  border: 2px solid #2a592e;
  border-radius: 3px;
  font-family: 'Monserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: var(--gray-text-color);
}

.small-input {
  border: 1px solid #6cac72;
  border-radius: 5px;
  text-align: center;
  padding: 2px;
  box-sizing: border-box;
  width: 40px;
  height: 28px;
  font-family: 'Monserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--green-text-color);
}

.button {
  border-radius: 5px;
  padding: 15px 40px;
  text-align: center;
  background: #456f49;
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  font-family: 'Monserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;

  &.button-transparent {
    background: transparent;
    border: 1px solid #6cac72;
    color: var(--green-text-color);
  }

  & svg {
    margin-right: 16px;
  }

  &.button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      margin-left: 16px;
    }
  }

  &:disabled {
    background: gray;
    cursor: not-allowed;
  }

  &.button-in-cart span {
    &:first-child {
      display: block;
    }
    &:last-child {
      display: none;
    }
  }

  &:hover {
    &.button-in-cart span {
      &:first-child {
        display: none;
      }
      &:last-child {
        display: block;
      }
    }
  }
}

a.button {
  text-decoration: none;
  display: inline-block;
}

.mat-mdc-menu-content {
  font-family: 'Monserrat', sans-serif;
  font-weight: 400;
  background-color: white;

  a {
    text-decoration: none;
    color: var(--gray-text-color);
  }
}

.mat-mdc-simple-snack-bar {
  background-color: var(--gray-text-color);
  color: white;
  border-radius: 5px;
}

.carousel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;

  .carousel-title {
    @include head-lora-32;
  }

  .carousel-arrows {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      cursor: pointer;

      &:first-child {
        margin-right: 30px;
      }
    }
  }
}


