@mixin head-lora-32 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  color: var(--green-text-color);
}

@mixin head-lora-36 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #000;
}
